.skills {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  width: 100%;
  min-height: 100vh;
  background-color: linear-gradient(110deg, rgb(69, 69, 69) rgb(0, 0, 0));
  color: #ffffff;
}

.skills-heading {
  font-size: 35px;
  color: rgb(228, 205, 0);
  margin-bottom: 20px;
  margin-bottom: 100px;
}

.imageData {
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
}
.image {
  width: 110px;
}
