.skills {
  margin: 120px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: #ffffff;
  padding: 50px 120px;
}

.skills-heading {
  font-size: 35px;
  color: rgb(228, 205, 0);
  margin-bottom: 100px;
}

.imageData {
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
}
.image {
  width: 110px;
}
