.skills {
  margin: 120px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: #ffffff;
  padding: 50px 120px;
}

.skills-heading {
  font-size: 35px;
  color: rgb(228, 205, 0);
  margin-bottom: 100px;
}

.imageData {
  display: flex;
  flex-wrap: wrap;
  gap: 57px;
}
.image {
  width: 110px;
}


@media (max-width: 576px) {
  .skills {
    padding: 30px 20px;
    margin: 60px 0;
  }

  .skills-heading {
    font-size: 26px;
    margin-bottom: 40px;
    text-align: center;
  }

  .imageData {
    justify-content: center;
    gap: 30px;
  }

  .image {
    width: 70px;
  }
}



@media (min-width: 577px) and (max-width: 768px) {
  .skills {
    padding: 40px 40px;
  }

  .skills-heading {
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
  }

  .imageData {
    justify-content: center;
    gap: 40px;
  }

  .image {
    width: 85px;
  }
}
