.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    font-size: 20px;
    font-weight: 700;
}
.navbar_logo{
    color: rgb(127, 126, 126);
    cursor: pointer;
}
.navbar_logo span{
    color: white;
}
.navbar_links{
    display: flex;
    gap: 60px;
    list-style: none;
}
.navbar_links a{
     text-decoration: none;
     color: white;
     cursor: pointer;
}
.navbar_links a:hover{
    text-decoration: underline;
}
.navbar_social_links{
    display: flex;
    gap: 50px;
    align-items: center;
}
.navbar_social_links .linkedin{
    color: black;
    background-color: white;
    padding: 2px;
    border-radius: 2px;
}

.navbar_social_link {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
     transition: transform 0.3s ease;
     color: white;
     text-decoration: none;
}
.navbar_social_link:hover{
      transform: scale(1.05);
}

.navbar_social_links .mail{
   border: 2px solid;
  border-radius: 15px;

  border-image: linear-gradient(
    to bottom,
    #fcce15,  
    #ffffff    
  ) 1;

  padding: 5px 10px;
}

.menu{
    display: none;
}



@media (max-width: 576px) {
  .navbar {
    padding: 15px 20px;
  }

  .navbar_links,
  .navbar_social_links {
    display: none;
  }

  .menu {
    display: block;
    font-size: 26px;
    color: white;
    cursor: pointer;
  }

  .navbar_links.active,
  .navbar_social_links.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    padding: 20px;
    gap: 20px;
  }

  .navbar_links.active {
    top: 70px;
  }

  .navbar_social_links.active {
    top: 230px;
  }
}



@media (min-width: 577px) and (max-width: 768px) {
  .navbar {
    padding: 20px 30px;
  }

  .navbar_links {
    gap: 30px;
  }

  .navbar_social_links {
    gap: 25px;
  }

  .menu {
    display: none;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 20px 40px;
  }

  .navbar_links {
    gap: 40px;
  }

  .navbar_social_links {
    gap: 30px;
  }
}


@media (min-width: 1025px) {
  .navbar {
    padding: 20px 60px;
  }

  .navbar_links {
    gap: 60px;
  }

  .navbar_social_links {
    gap: 50px;
  }
}
