.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
   margin: 40px 120px;
}

.header-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 25px;
  text-transform:uppercase;
}
.header-left .header-hello{
     color: rgb(183, 183, 183);
     font-weight: 600;
     text-transform: none;
}
.dev-name{
    color: rgb(228, 205, 0);
    line-height:normal;
}
.dev-role{
    text-transform: none;
    border: 3px solid rgb(232, 59, 117);
    width: fit-content;
    padding: 10px;

}

.header-left-info{
    display: flex;
    gap: 20px;
    color: rgb(113, 113, 113);
}
.header-left-subInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-left-subInfo .number{
    font-size: 80px;
    font-weight: 800;
}
.header-left-subInfo .text{
    font-size: 23px;
}

.header-right {
  width: 50%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


@media (max-width: 576px) {
  .header {
    flex-direction: column;
    margin: 20px;
    gap: 30px;
    text-align: center;
  }

  .header-left,
  .header-right {
    width: 100%;
  }

  .header-left {
    gap: 20px;
    font-size: 18px;
  }

  .dev-name {
    font-size: 32px;
  }

  .dev-role {
    font-size: 16px;
    padding: 6px 10px;
    margin: auto;
  }

  .header-left-info {
    flex-direction: column;
    align-items: center;
  }

  .header-left-subInfo .number {
    font-size: 50px;
  }

  .header-left-subInfo .text {
    font-size: 16px;
  }
}



@media (min-width: 577px) and (max-width: 768px) {
  .header {
    flex-direction: column;
    margin: 30px 40px;
    gap: 40px;
  }

  .header-left,
  .header-right {
    width: 100%;
    text-align: center;
  }

  .header-left {
    font-size: 22px;
  }

  .dev-name {
    font-size: 40px;
  }

  .header-left-info {
    justify-content: center;
  }
}



@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    margin: 40px 60px;
  }

  .header-left {
    font-size: 22px;
  }

  .header-left-subInfo .number {
    font-size: 65px;
  }

  .header-left-subInfo .text {
    font-size: 20px;
  }
}



@media (min-width: 1200px) {
  .header {
    margin: 40px 120px;
  }
}

