.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
   margin: 40px 120px;
}

.header-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 25px;
  text-transform:uppercase;
}
.header-left .header-hello{
     color: rgb(183, 183, 183);
     font-weight: 600;
     text-transform: none;
}
.dev-name{
    color: rgb(228, 205, 0);
    line-height:normal;
}
.dev-role{
    text-transform: none;
    border: 3px solid rgb(232, 59, 117);
    width: fit-content;
    padding: 10px;

}

.header-left-info{
    display: flex;
    gap: 20px;
    color: rgb(113, 113, 113);
}
.header-left-subInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-left-subInfo .number{
    font-size: 80px;
    font-weight: 800;
}
.header-left-subInfo .text{
    font-size: 23px;
}

.header-right {
  width: 50%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
