@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
html{
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    110deg,
    rgb(0, 0, 0),
    rgb(69, 69, 69)
  );
   background-blend-mode: overlay;
  color: #ffffff;
}
