.project{
      display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.project h1{
   font-size: 35px;
   color: rgb(228, 205, 0);
   margin: 0px 120px 80px 120px;
   
}

.project-list{
    display: flex;
    overflow-x: auto;
    gap: 50px;
}

.project-card{
  min-width: 400px;
  border-radius: 10px;
  border: 2px solid transparent; 
  transition: transform 0.3s ease, border 0.3s ease;
  cursor: pointer;
}

.project-card:hover{
    border:2px solid rgb(228, 205, 0);
}
.project-card img{
    width: 100%;
    border-radius: 10px;
}
.project-card p{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}