.education {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin: 40px 120px;

}

.education h1 {
  font-size: 35px;
  color: rgb(228, 205, 0);

}

.container{
    display: flex;
    justify-content: space-between;
   margin-top: 50px;
}
.container .year{
    font-size: 25px;
}
.sub-div{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 600px;
}

.sub-div .degree{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
.sub-div .university{
    font-size: 20px;
    margin-bottom: 10px;
}

.sub-div .list{
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
}