.contact {
  display: flex;
  flex-direction: column;
  margin: 120px;
}
.contact h1 {
  font-size: 35px;
  color: rgb(228, 205, 0);
  margin-bottom: 30px;
}
.contact-container{
    display: flex;
    width: 100%;
    height: 600px;
    background-color: black;
    border-radius: 10px;
}
.contact-left-side{
    width: 50%;
}
.contact-left-side img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.contact-right-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.right-heading{
    font-size: 40px;
    font-weight: 600;
}
.right-heading span{
   color: rgb(228, 205, 0);
}
.right-text{
    margin: 30px 0;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form input{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 30px;
    outline: 0;
    color: white;
}
.form button{
    background-color:rgb(228, 205, 0);
    color: white;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
   transition: 0.3s ease;
}
.form button:hover{
    background-color:rgb(180, 162, 0);
}

.contact-details{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
  
}
.details{
    display: flex;
    align-items: center;
      gap: 10px;
}
.sub-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.details .img{
    font-size: 30px;
}
.sub-details .key{
     font-size: 15px;
     font-weight: 600;
}
.sub-details .value{
     color:rgba(255, 230, 0, 0.923);
     text-decoration: underline;
     font-size: 13px;
}


@media (max-width: 576px) {
  .contact {
    margin: 40px 20px;
  }

  .contact h1 {
    font-size: 26px;
    text-align: center;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
  }

  .contact-left-side,
  .contact-right-side {
    width: 100%;
  }

  .contact-left-side {
    height: 200px;
  }

  .contact-right-side {
    padding: 20px;
  }

  .right-heading {
    font-size: 28px;
    text-align: center;
  }

  .right-text {
    text-align: center;
    margin: 20px 0;
  }

  .form input {
    padding: 12px 15px;
  }

  .contact-details {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}


@media (min-width: 577px) and (max-width: 768px) {
  .contact {
    margin: 40px;
  }

  .contact h1 {
    font-size: 30px;
    text-align: center;
  }

  .contact-container {
    flex-direction: column;
    height: auto;
  }

  .contact-left-side,
  .contact-right-side {
    width: 100%;
  }

  .contact-left-side {
    height: 300px;
  }

  .right-heading {
    font-size: 32px;
    text-align: center;
  }

  .contact-details {
    justify-content: space-around;
  }
}
