.journey {
  margin: 120px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: #ffffff;
  padding: 30px 120px;
}
.journey h1 {
  font-size: 35px;
  color: rgb(228, 205, 0);
  margin-bottom: 10px;
}
.container {
  display: flex;
  justify-content: space-around;
}
.side-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.sub-divs {
    max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sub-divs h2 {
  font-size: 25px;
  color: rgb(228, 205, 0);
}
.sub-divs p {
  color: rgb(117, 117, 117);
}
.sub-divs button {
  background-color: black;
  color: white;
  font-weight: 600;
  border: 2px solid white;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 15px;
  border-image: linear-gradient(to bottom, #fcce15, #ffffff) 1;
}

.center-div {
  width: 2px;
  height: 100vh;
  background-color: rgb(228, 205, 0);
}
